@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #f5f5f5;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Utilities */
@layer utilities {
 .flex-center {
  @apply flex justify-center items-center;
 }

 .col-center {
  @apply flex flex-col justify-center items-center;
 }

 .abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
 }

 .text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.2;
  display: inline-block;
 }

 .radial-gradient {
  background: radial-gradient(circle at center, #434343 0%, #000 50%, transparent 100%);
 }

 .masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
 }
}

/* Components layer */
@layer components {
 main {
  @apply w-full overflow-x-hidden;
 }

 nav {
  @apply fixed z-50 w-full;
 }

 nav div {
  @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
 }

 nav p {
  @apply text-3xl -mb-2;
 }

 nav a {
  @apply cursor-pointer text-nowrap md:text-base text-sm;
 }

 nav ul {
  @apply flex-center lg:gap-12 gap-7;
 }

 .noisy {
  @apply absolute inset-0 size-full bg-[url('/images/noise.png')];
 }

}

#hero {
 @apply relative z-10 min-h-dvh w-full border border-transparent;
}

#hero h1 {
 @apply text-5xl md:text-[5vw] leading-none text-center;
}

#hero .body {
 @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[30vh] flex justify-between items-end px-5;
}

#hero .body .content {
 @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;
}

#hero .body .content p:nth-of-type(2) {
 @apply text-6xl max-w-xl;
}

#hero .body .content p:last-of-type {
 @apply 2xl:text-start text-center;
}